.icons-hidden
  svg(xmlns='http://www.w3.org/2000/svg')
    symbol#ic-arow-right(viewBox="0 0 42.5 63.5" enable-background="new 0 0 42.5 63.5" xml:space="preserve")
      path(d='M15.08,5.829c2.088,2.038,22.51,23.479,22.51,23.479c1.115,1.088,1.672,2.513,1.672,3.939s-0.557,2.853-1.672,3.939\
c0,0-20.422,21.441-22.51,23.479c-2.09,2.038-5.848,2.177-8.08,0c-2.229-2.174-2.406-5.21,0.002-7.878l18.734-19.541L7.002,13.708\
C4.594,11.039,4.771,8.003,7,5.829C9.232,3.652,12.99,3.791,15.08,5.829z')