doctype html
html(lang='en')

   head
      block title
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(href="css/bootstrap.min.css" rel="stylesheet" type="text/css")
      link(rel="stylesheet", href="css/reset.css" type="text/css")
      link(rel="stylesheet", href="css/normalize.css" type="text/css")
      
      link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
      link(href="css/swiper.min.css" rel="stylesheet" type="text/css")
      link(href="css/main.css" rel="stylesheet" type="text/css")




   body



      //CONTENT
      .content
         block content
      //x - content


      // FOOTER
      include icons
      script(src="js/jquery-2.2.3.min.js")
      script(src="js/swiper.min.js")
      script(src="js/jquery.tablesorter.min.js")


      




      script(src="js/main.js")
