footer {
  background: $f8; 
}
.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq-mobile {
    flex-direction: column;
  }
}
.footer-link {
  li {
    display: inline-block;
    padding: 5px;
    a {
      font-size: 12px;
      color: $green;
      text-decoration: underline;
    }
  }
  
}