.info {
  margin-top: 30px;
}
.img-flat {
  height: 14px;
  width: auto;
  vertical-align: middle;
  margin-right: 10px;
}
.vessel-name,
.vessel-com {
  font-weight: 600;
  display: inline-block;
}
.vessel-name {
  color: $bl;
  padding-right: 16px;
}
.vessel-com {
  color: $c99;
}
.vessel-country{
  font-size: 14px;
  color: $c03;
}
td, th {
  font-size: 14px;
  padding: 8px 15px;
  border-bottom: 1px solid $c-br;
}
.maersk1,
.maersk2,
.maersk3 {
  width: 100%;
  height: 100px;
  background-position:  center;
  background-size: cover;
  @include mq-tablet {
    margin-top: 25px;
  }
}
.maersk1 {
  background-image: url(../img/Emma_Maersk1.jpg);
}
.maersk2 {
  background-image: url(../img/maersk2.jpg);
}
.maersk3 {
  background-image: url(../img/maersk3.jpg);
}
.table-info {
  tr {
  td:first-child {
    color: $c99;
    width: 40%;
  }
  }
}
th {
 text-align: left;
  padding: 8px 15px;
}
.tr-bg {
  background: $f8;
}
.h-pos {
  color: $c66;
  margin-top: 30px;
  margin-bottom: 5px;
}
.btn-route {
  width: 100%;
  background: $green;
  color: $w;
  padding: 15px 0;
  border-radius: 4px;
  margin-top: 10px;
}
.ic-arr {
  width: 12px;
  height: 12px;
  svg {
    width: 12px;
    height: 12px;
    stroke:$w;
    fill:$w;
    margin-left: 10px;
    vertical-align: middle;
  }
}

// tabs
ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
  li {
    background: none;
    color: $c33;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin:10px 20px;
    border-bottom:6px solid #e9e9e9;
    @include trans;
    &:hover,
    &:active,
    &:focus{
      color: $bl;
    }

  }
  li.current-tab {
    color: $green;
    border-bottom:6px solid $green;
  }
}

.tab-content{
  display: none;
  padding: 15px 0;
  animation: fadeEffect .7s;
}
@keyframes fadeEffect {
  from {opacity: .3;}
  to {opacity: 1;}
}
.tab-content.current-tab{
  display: inherit;
}

ul.tab li a:focus, .active {
  background-color: $c99;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid $c99;
  border-top: none;
  animation: fadeEffect 1s;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
// tabs2
ul.tabs2 {
  width: auto;
  float: left;
  margin: 0px 100px 0 0;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  @include mq-600 {
   width: 100%; 
  }
  li {
    background: none;
    color: $green;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
    border-bottom:1px dashed $green;
    @include trans;
    &:hover,
    &:active,
    &:focus{
      color: $c33;
    }
    @include mq-600 {
     text-align: center; 
    }

  }
  li.current-tab2 {
    color: $c33;
    border:none;
  }
}

.tab-content2{
  width: calc(100% - 200px);
  float: left;
  display: none;
  padding: 15px 0;
  animation: fadeEffect .7s;
  @include mq-600 {
   width: 100%; 
  }
}
@keyframes fadeEffect {
  from {opacity: .3;}
  to {opacity: 1;}
}
.tab-content2.current-tab2{
  display: inherit;
}


.tabcontent2 {
  display: none;
  padding: 6px 12px;
  border: 1px solid $c99;
  border-top: none;
  animation: fadeEffect 1s;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.engine {
  overflow: auto;
    white-space: nowrap;
}