@mixin trans($what: all, $time: 0.5s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}
@mixin mq-1200 {
  @media all and (max-width:1200px) {
    @content;
  }
}
@mixin mq-1000 {
  @media all and (max-width:1000px) {
    @content;
  }
}
@mixin mq-tablet {
  @media all and (max-width:991px) {
    @content;
  }
}
@mixin mq-850 {
  @media all and (max-width:850px) {
    @content;
  }
}
@mixin mq-min-850 {
  @media all and (min-width:850px) {
    @content;
  }
}
@mixin mq-min-mobile {
  @media all and (min-width:768px) {
    @content;
  }
}
@mixin mq-mobile {
  @media all and (max-width:767px) {
    @content;
  }
}
@mixin mq-600 {
  @media all and (max-width:600px) {
    @content;
  }
}
@mixin mq-480 {
  @media all and (max-width:480px) {
    @content;
  }
}
@mixin mq-380 {
  @media all and (max-width:380px) {
    @content;
  }
}