nav {
    padding: 12px  0 10px;
    border-bottom: 1px solid #e9e9e9;
}
.logo {
  display: block;
  padding-top: 6px;
}

.foto {
    border-radius: 50%;
}
.profile {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content:flex-end;
}
input[type=search] {
  border:1px solid #999;
  border-radius: 4px;
  padding: 8px;
  width: 70%;
  @include mq-tablet {
    width: 50%;
    padding: 5px;
  }
}
.search-block {
  position: relative;
  
  
  @include mq-mobile {
    display: flex;
  align-items: center;
  justify-content: center;
    height: 60px;
  }
  
}
.form-search {
  padding-top: 10px;
  @include mq-tablet {
    padding-top: 5px;
  }
  @include mq-mobile {
    width: 400px;
    opacity:0;
    visibility: hidden;
    position: absolute;
    bottom: -85px;
    @include trans;
  }
  @include mq-600 {
    width: 320px;
  }
  &.show-search {
    opacity:1;
    visibility: visible;
    background: $w;
    z-index:999;
    padding: 20px;
  }
}
.btn-mob {
  display: none;
  @include mq-mobile {
    display: block;
    width: 30px;
    height: 30px;
  }
}
.adv-search {
  font-size: 14px;
  color: $green;
  text-decoration:underline;
  @include trans;
  &:hover,
  &:active,
  &:focus {
    color: lighten($green, 10%);
  }
  @include mq-mobile {
    font-size: 12px;
  }
}
.btn-search {
  img {
    vertical-align: middle;
  }
}
.flag {
  margin-right: 20px;
}
