body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  background: $w;
  color: $bl;
}
table {
  width: 100%;
  overflow:scroll;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border:none;
  background: none;
}
img {
  width: 100%;
}
h2{
  font-size: 32px;
  @include mq-mobile {
    font-size: 28px;
  }
  @include mq-480 {
    font-size: 24px;
  }
}
h3{
  font-size: 26px;
  @include mq-mobile {
    font-size: 24px;
  }
  @include mq-480 {
    font-size: 21px;
  }
}
h5 {
  font-size: 14px;
  font-weight: 600;
  color: $c33;
  margin-bottom: 20px;
  @include mq-mobile {
    margin-top: 20px;
  }
}
.icons-hidden {
  display: none;
}
section {
  margin-top: 50px;
}
.h-main {
  font-size: 24px;
  font-weight: 600;
  
}
input,
textarea,
button,
a{
  outline:none;
}
header {
  margin-top: 20px;
}