#keywords {
  margin: 0 auto;
  font-size: 14px;
}


#keywords thead {
  cursor: pointer;
  text-align: left;
}
#keywords thead tr th { 
  font-weight: bold;
}
#keywords thead tr th span { 
  background-repeat: no-repeat;
  background-position: 100% 100%;
}


//#keywords thead tr th.headerSortUp span {
//  background-image: url('../img/arrows.jpg');
//}
//#keywords thead tr th.headerSortDown span {
//  background-image: url('../img/arrows.jpg');
//}

#keywords tbody tr td {
  text-align: left;
  padding: 15px 10px;
}
th.header span:after {
  content: url(../img/arrows.jpg);
  margin-left: 6px;
  vertical-align: middle;
}