extends ./template/layout

block title
    title Home

block content
    nav
      .container
        .row
          .col-sm-3.col-xs-6
            a.logo(href='#')
              img(src='img/logo.png', alt='logo')
          .col-sm-7.col-xs-2
            .search-block
              form.form-search
                p
                  input(type='search', name='q', placeholder='Shipyard name, vessel')
                  button.btn-search(type="button")
                    img(src="img/search.png")
                  a.adv-search(href="#") Advanced search
              button.btn-mob(type="button")
                img(src="img/search-mob.png")
          .col-sm-2.col-xs-4
            .profile
              .flag
                img(src='img/en.jpg', alt='flag')
              .foto
                img.foto(src='img/foto.jpg', alt='foto')
              button(type="button")
                img(src='img/arrow.png', alt='')
    header
      .container
        .main-slider
          .swiper-container
              .swiper-wrapper
                  .swiper-slide
                    img(src="img/slide1.jpg")
                  .swiper-slide
                    img(src="img/slide2.jpg")
    section.info
      .container
        .row
          .col-md-6.col-xs-12
            h2.vessel-name Emma Maersk
            h3.vessel-com \ Emma Maersk Group
            p.vessel-country 
              img.img-flat(src="img/denmark_flat.png")
              | Denmark, Odense
            table.table-info
              tr
                td Type:
                td Cargo
              tr
                td Year of Build:
                td 2006
              tr
                td IMO:
                td 9474060
              tr.tr-bg
                td Callsign:
                td ESJO
              tr
                td MMSI:
                td 276786000
              tr
                td Length:
                td 200.0m
              tr
                td Beam:
                td 18.0m
              tr
                td GRT:
                td 20000
              tr
                td Manager:
                td MAERSK LINE A/S
              tr
                td Owner:
                td MAERSK LINE A/S
              tr
                td Insurer:
                td BRITANNIA STEAMSHIP INSURANCE ASSOCIATION LD
              tr
                td Shipyard:
                td ODENSE STEEL SHIPYARD LTD.
              tr
                td Class:
                td DNVGL
              tr
                td Engine:
                td DOOSAN ENGINE CO. LTD.
              tr
                td Aux Engine:
                td MAK 6M43
              tr
                td Vessel age:
                td 11 years
              tr
                td Next Docking:
                td JAN 2018 (expected)
              tr
                td Next Survey:
                td JAN 2018
          .col-md-6.col-xs-12
            .row
              .col-md-4.col-sm-4.col-xs-4
                .maersk1
              .col-md-4.col-sm-4.col-xs-4
                .maersk2
              .col-md-4.col-sm-4.col-xs-4
                .maersk3
            .row
              .col-xs-12
                p.h-pos Actual Position
                img.position(src="img/map.jpg")
                button.btn-route(type="button") Plan Route from thes Position to shipyard
                  span.ic-arr
                    svg
                      use(xlink:href='#ic-arow-right')
    section.engine
      .container
        h2.h-main Engine
        table#keywords
          thead
            tr
              th
                span Column
              th
                span Column
              th
                span Column
              th
                span Column
          tbody
            tr.tr-bg
              td.lalign Data 1
              td Data 2
              td Data 3
              td Data 4
            tr
              td.lalign Data 5
              td Data 6
              td Data 7
              td Data 8
            tr
              td.lalign Data 9
              td Data 10
              td Data 11
              td Data 12
            tr
              td.lalign Data 13
              td Data 14
              td Data 15
              td Data 16
            tr
              td.lalign Data 17
              td Data 18
              td Data 19
              td Data 20
        ul.tabs
          li.tab-link.current-tab(data-tab='tab-1') Working hours per Month
          li.tab-link(data-tab='tab-2') Speed Profile
        #tab-1.tab-content.current-tab
          img(src="img/workinghours.jpg")
        #tab-2.tab-content
          img(src="img/speed-profile.jpg")
    section.engine
      .container
        h2.h-main Shipyards history
        table#history
          thead
            tr
              th
                span Start time
              th
                span End time
              th
                span Yard name
              th
                span Country
              th
                span Duration
          tbody
            tr.tr-bg
              td.lalign 2015-08-14  06:35:43.2515
              td 2015-11-14  06:35:43.2515
              td Emma Maersk
              td Denmark
              td -76 days
            tr
              td.lalign 2015-07-28  06:35:43.968
              td 2015-10-14  06:35:43.968
              td Emma Maersk
              td Denmark
              td 28 days
          
    section.last-ports
      .container
        .row
          .col-sm-6.col-xs-12
            h2.h-main Last Posts
            table#table-info
              thead
                tr
                  th
                    span Port
                  th
                    span Berth
                  th
                    span Cast off
              tbody
                tr.tr-bg
                  td Hamburg
                  td 42
                  td 24
                tr
                  td Rotterdam
                  td 55
                  td 31
            
          .col-sm-6.col-xs-12
            h5 Sailing Area
            img.map-asiling(src="img/map-2.jpg")
    section.master-data
      .container
        h2.h-main Master Data
        ul.tabs2
          li.tab-link2.current-tab2(data-tab='tab-m1') General
          li.tab-link2(data-tab='tab-m2') Management
          li.tab-link2(data-tab='tab-m3') Tonnage
          li.tab-link2(data-tab='tab-m4') Dimensions
          li.tab-link2(data-tab='tab-m5') Capacity
          li.tab-link2(data-tab='tab-m6') Yard
          li.tab-link2(data-tab='tab-m7') Classification
        #tab-m1.tab-content2.current-tab2
          table.table-info
            tr
              td Type:
              td Cargo
            tr
              td Year of Build:
              td 2006
            tr
              td IMO:
              td 9474060
            tr.tr-bg
              td Callsign:
              td ESJO
            tr
              td MMSI:
              td 276786000
            tr
              td Length:
              td 200.0m
            tr
              td Beam:
              td 18.0m
            tr
              td GRT:
              td 20000
            tr
              td Manager:
              td MAERSK LINE A/S
            tr
              td Owner:
              td MAERSK LINE A/S
            tr
              td Insurer:
              td BRITANNIA STEAMSHIP INSURANCE ASSOCIATION LD
            tr
              td Shipyard:
              td ODENSE STEEL SHIPYARD LTD.
            tr
              td Class:
              td DNVGL
            tr
              td Engine:
              td DOOSAN ENGINE CO. LTD.
            tr
              td Aux Engine:
              td MAK 6M43
            tr
              td Vessel age:
              td 11 years
            tr
              td Next Docking:
              td JAN 2018 (expected)
            tr
              td Next Survey:
              td JAN 2018
        #tab-m2.tab-content2
          h3 Info about Management
        #tab-m3.tab-content2
          h3 Info about Tonnage
        #tab-m4.tab-content2
          h3 Info about Dimensions
        #tab-m5.tab-content2
          h3 Info about Capacity
        #tab-m6.tab-content2
          h3 Info about Yard
        #tab-m7.tab-content2
          h3 Info about Classification

    footer
      .container
        .footer-block
          p 2017 © MDS
          ul.footer-link
            li
              a(href="#") Blog
            li
              a(href="#") Contact
            li
              a(href="#") Catalog
            li
              a(href="#") Shipyards
            li
              a(href="#") Shipowners
            li
              a(href="#") Accounts
            li
              a(href="#") Privancy policy
            li
              a(href="#") Terms & conditions
            li
              a(href="#") Imprint
    
            


                
